@font-face {
  font-family: 'Mona Sans';
  src: url('./assets/mona-_sans/MonaSans/Mona-Sans.ttf') format('truetype'),
}
body {
  font-family: 'Mona Sans', sans-serif !important;
  background: white; 
  overflow-x: hidden;
}